<div class="panel-panel-info">

<div class="panel-heading">
{{blog.blogTitle}}<br>

<b>Posted On</b>{{blog.PostedOn |date:'medium'}}<br>
<b>Posted By</b>{{blog.PostedBy .firstname}} &nbsp; {{blog.postedBy.lastname}}<br>
</div>
<div class="panel-body">
<p ng-bind-html="content"></p>
</div>
<br>
<div><a><span class="glyphicon glyphicon-thumbs-up" ng-click="isLiked?:'default'" ng-click="updateLikes(blog.id)"></span></a>
{{blog.likes}}likes
</div>
<div>
{{exception.message}}
<textarea rows="1" cols="10" ng-model="commentTxt"></textarea>
<button type="button" class="btn-btn-primary" ng-click="addComment"(blog,commentTxt)">Post Comment</button>
<br>
<ul style="list-style:none">
<li ng-repeat="comment in comments">
{{comment.commentTxt}} &nbsp;<b>commented By</b> {{comment.commentBy.firstname}} &nbsp;<b>commented on</b>{{comment.commentedON  | date:'yyyy:MM:dd'}}
</li>
</div>
</div>
<!-- updateLikes(blog.id)
insert into blogPostLikes values(?,blogpostid,email)
update blogPost setlikes =likes + 1 where id=?

(or)
delete from blogPostLikes where id=?
update blogPost set likes=likes-1 where id=?


 -->