<div class="container">
	<div class="row" style="width: 600px">
		<div class="panel-panel-info">

			<div class="panel-heading">Blog Posts</div>
			<div class="panel-body">

				<div ng-repeat="blog in blogsApproved">
					<b><a href="#/getblog/{{blog.id}}">{{blog.blogTitle}}</a></b><br>
					<b>Posted On</b>{{blog.PostedOn |date:'medium'}}<br> <b>Posted
						By</b>{{blog.PostedBy .firstname}} &nbsp; {{blog.postedBy.lastname}}<br>
					<img
						src="http://localhost:9080/ScocialNetworksMiddle/getimage/{{blog.postedBy.email}}"
						alt="" height="50px" width="100px">
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>