<div class="panel-panel-info">

<div class="panel-heading">

{{blog.blogTitle}}
<b>Posted On</b>{{blog.PostedOn |date:'medium'}}<br>
<b>Posted By</b>{{blog.PostedBy . firstname}} &nbsp; {{blog.postedBy.lastname}}<br>

</div>

<div class="panel-body">
<p ng-bind-html="content"></p>
</div>
</div>
<!-- Approve-update blogpost set approved=1 where id=? -->
<!-- Reject- delete from blogpost where id=? -->
<button type="button" class="btn-btn-primary" ng-click="approve(blog)">Approve</button> &nbsp;
<button type="button" class="btn-btn-warning" ng-click="reject(blog)">Reject</button> 
<div ng-show="rejectionTxt">
Rejection Reason
<textarea ng-model="rejectionReason"></textarea>
<button type="button" class="btn-btn-warning" ng-click="reject(blog)">Submit</button> 
</div>