<div class="container">
	<div class="row" style="""300px">
		<div class="panel-panel-info">
			<div class="panel-heading">{{job.jobTitle}}</div>
			<div class="panel-body">
				<b>Job Description</b> : {{job.jobDescription}}<br> 
				<b>Skills Required</b> : {{job.Skills Required}}<br> 
				<b>Location</b> : {{job.Location}}<br> 
				<b>Years of Exp</b> : {{job.Yrs Of Exp}}<br>
				<b>Company Name</b> : {{job.Company Name}}<br> 
				<b>Salary</b> :{{job.Salary}}<br> 
				<b>Posted On</b> : {{job.PostedOn | date:'medium'}}<br>

			</div>


		</div>


	</div>


</div>
<a href="#/alljobs">Back to previous page>Get All Jobs</a>